<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>The purpose of this job is to start a stand alone server instance on a particular machine. This job is meant to be started via a rest call with certain commandline arguments&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>tourneyUrl</name>
          <description></description>
          <defaultValue>http://127.0.0.1:8080/TournamentScheduler</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>propUrl</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>suffix</name>
          <description></description>
          <defaultValue>bootstrap</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>machine</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>pomUrl</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>brokers</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>gameId</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>bootUrl</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo Job Name: $JOB_NAME
echo Node Name: $NODE_NAME
echo Tournament Scheduler URL: $tourneyUrl
echo Server Config URL: $serverConfig
echo Log File Suffix: $suffix

wget $pomUrl

if [ &quot;$bootUrl&quot; != &quot;&quot; ] ; then
    echo &quot;Running in bootstrap mode!&quot;
    wget $tourneyUrl/faces/serverInterface.jsp?
    mvn exec:exec -Dexec.args=&quot;-boot boot.xml --config $propUrl --log-suffix $suffix
    echo &quot;Bootstrap complete!&quot;
    echo &quot;Posting bootstrap&quot;
    exit 1
else
    echo &quot;Configuration Success!&quot; $status
fi

#mvn exec:exec -Dexec.args=&quot;-sim --boot-data http://www.cselabs.umn.edu/~onarh001/bootstraprun.xml --brokers $brokers&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>