<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>The purpose of this job is to start a stand alone server instance on a particular machine. This job is meant to be started via a rest call with certain commandline arguments&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>tourneyUrl</name>
          <description></description>
          <defaultValue>http://127.0.0.1:8080/TournamentScheduler</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>propUrl</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>suffix</name>
          <description></description>
          <defaultValue>bootstrap</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>machine</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>pomUrl</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>brokers</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>gameId</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>bootUrl</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>destination</name>
          <description>Jenkins needs to be running under the tacrun account and have ssh keys set-up for this to work</description>
          <defaultValue>tacrun@tac01.cs.umn.edu:/project/msse01/game-logs/</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo Job Name: $JOB_NAME
echo Node Name: $NODE_NAME
echo Tournament Scheduler URL: $tourneyUrl
echo Server Config URL: $serverConfig
echo Log File Suffix: $suffix

wget $pomUrl

wget -O pom.xml $pomUrl

#if [ &quot;$bootUrl&quot; != &quot;&quot; ] ; then
    echo &quot;Running in bootstrap mode!&quot;
    wget &quot;$tourneyUrl/faces/serverInterface.jsp?action=status&amp;gameId=$gameId&amp;status=bootstrap-running&quot;

    mvn -Pcli -Dexec.args=&quot;-boot $gameId-boot.xml --config $propUrl --log-suffix $suffix&quot;
    echo &quot;Bootstrap complete!&quot;
    echo &quot;Posting bootstrap&quot;
    tar -cvzf game-$gameId-boot-logs log

    #need ssh keys setup to do this part without a password
    scp game-$gameId-boot-logs $destination
    scp $gameId-boot.xml $destination
    wget &quot;$tourneyUrl/faces/serverInterface.jsp?action=status&amp;gameId=$gameId&amp;status=bootstrap-done&quot;
    

    #curl --upload-file boot.xml &quot;http://localhost:8080/TournamentScheduler/faces/serverInterface.jsp&quot;
    exit 1
#else
#    echo &quot;Running in sim mode!&quot;
    #Notify the TM in 30 seconds that the server is ready for games in a subshell
#    (sleep 30; wget $tourneyUrl/faces/serverInterface.jsp?)&amp;
#    mvn -Pcli -Dexec.args=&quot;-sim --boot-data=$bootUrl --config $propUrl --log-suffix $suffix&quot;



#fi

#mvn exec:exec -Dexec.args=&quot;-sim --boot-data http://www.cselabs.umn.edu/~onarh001/bootstraprun.xml --brokers $brokers&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>