<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="TournamentScheduler"
         version="3.0">
  <display-name>TournamentScheduler</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>
  <listener>
    <listener-class>
      org.springframework.web.context.request.RequestContextListener
    </listener-class>
  </listener>
  <error-page>
    <exception-type>
      javax.faces.application.ViewExpiredException
    </exception-type>
    <location>/SessionExpired.jsp</location>
  </error-page>
  <context-param>
    <description>
      State saving method: 'client' or 'server' (=default).
      See JSF Specification 2.5.2
    </description>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Production</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.BUILD_BEFORE_RESTORE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.USE_ENCRYPTION</param-name>
    <param-value>true</param-value>
  </context-param>

  <context-param>
    <param-name>org.apache.myfaces.ALGORITHM</param-name>
    <param-value>AES</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.SECRET</param-name>
    <param-value>MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTIz</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.MAC_SECRET</param-name>
    <param-value>YWJjZDEyMzQ=</param-value>
  </context-param>

  <context-param>
    <description>
      This parameter tells MyFaces if javascript code should be allowed in the
      rendered HTML output. If javascript is allowed, command_link anchors will
      have javascript code that submits the corresponding form. If javascript is
      not allowed, the state saving info and nested parameters will be added as
      url parameters. Default is 'true'.
    </description>
    <param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <description>
      The default suffix for extension-mapped resources that contain JSF
      components. Default is '.xhtml'.
    </description>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <description>
      If true, rendered HTML code will be formatted, so that it is
      'human-readable' i.e. additional line separators and whitespace will be
      written, that do not influence the HTML code. Default is 'true'
    </description>
    <param-name>org.apache.myfaces.PRETTY_HTML</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.DETECT_JAVASCRIPT</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <description>
      If true, a javascript function will be rendered that is able to restore
      the former vertical scroll on every request. Convenient feature if you
      have pages with long lists and you do not want the browser page to always
      jump to the top if you trigger a link or button action that stays on the
      same page. Default is 'false'
    </description>
    <param-name>org.apache.myfaces.AUTO_SCROLL</param-name>
    <param-value>true</param-value>
  </context-param>
  <session-config>
    <session-timeout>240</session-timeout>
  </session-config>
  <listener>
    <listener-class>org.powertac.tournament.listeners.Initializer
    </listener-class>
  </listener>
  <filter>
    <filter-name>ExtensionsFilter</filter-name>
    <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter
    </filter-class>
    <init-param>
      <description>
        Set the size limit for uploaded files.
        Format: 10 - 10 bytes
        10k - 10 KB
        10m - 10 MB
        1g - 1 GB
      </description>
      <param-name>uploadMaxFileSize</param-name>
      <param-value>100m</param-value>
    </init-param>
    <init-param>
      <description>
        Set the path where the intermediary files will be stored.
      </description>
      <param-name>uploadRepositoryPath</param-name>
      <param-value>/temp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ExtensionsFilter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.faces</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>

  <!-- Get rid of the annoying warnings -->
  <context-param>
    <param-name>
      org.apache.myfaces.RENDER_CLEAR_JAVASCRIPT_FOR_BUTTON
    </param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>
      org.apache.myfaces.RENDER_HIDDEN_FIELDS_FOR_LINK_PARAMS
    </param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.SAVE_FORM_SUBMIT_LINK_IE</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.READONLY_AS_DISABLED_FOR_SELECTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.RENDER_VIEWSTATE_ID</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.STRICT_XHTML_LINKS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.RENDER_FORM_SUBMIT_SCRIPT_INLINE</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.CONFIG_REFRESH_PERIOD</param-name>
    <param-value>2</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.VIEWSTATE_JAVASCRIPT</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.REFRESH_TRANSIENT_BUILD_ON_PSS</param-name>
    <param-value>auto</param-value>
  </context-param>
  <context-param>
    <param-name>
      org.apache.myfaces.REFRESH_TRANSIENT_BUILD_ON_PSS_PRESERVE_STATE
    </param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.VALIDATE_XML</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>
      org.apache.myfaces.WRAP_SCRIPT_CONTENT_WITH_XML_COMMENT_TAG
    </param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.DEBUG_PHASE_LISTENER</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.ADD_RESOURCE_CLASS</param-name>
    <param-value>
      org.apache.myfaces.renderkit.html.util.DefaultAddResource
    </param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.RESOURCE_VIRTUAL_PATH</param-name>
    <param-value>/faces/myFacesExtensionResource</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.CHECK_EXTENSIONS_FILTER</param-name>
    <param-value>false</param-value>
  </context-param>
</web-app>
